[Unit]
Description=Mount the tmp directory for vzdump over nfs
Requires=my-unlock-zfs-dataset-with-passphrase@vmbackupspool-data.service zfs-mount.service nfs-server.service nfs-client.target
After=my-unlock-zfs-dataset-with-passphrase@vmbackupspool-data.service zfs-mount.service nfs-server.service nfs-client.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=mount 127.0.0.1:/vmbackupspool/tmp /mnt/vzdump-tmp

[Install]
WantedBy=multi-user.target