[Unit]
Description=Mapping and unmapping of non primary crypt disks
Before=libvirtd.service
After=local-fs.target
After=systemd-machined.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/local/bin/npdisksetup.py start
ExecStop=/usr/local/bin/npdisksetup.py stop

[Install]
WantedBy=multi-user.target