
[Unit]
Description=Backup plex media server app data
After=zfs-mount.service

[Service]
Type=oneshot
ExecStart=backup-plex-media-server.sh

# Not having a Install section makes it so the service cannot be
# enabled and only started from triggers (like timers) or by
# calling start.
#[Install]
#WantedBy=multi-user.target