
[Unit]
Description=Copies application backup files from remote hosts
After=zfs-mount.service

[Service]
Type=oneshot
ExecStart=copy-app-backups-from-remotes.sh