[Unit]
Description=Sync Media Store to Object Storage
After=network-online.target

[Service]
Type=oneshot
ExecStart=sync-media-store-to-object-storage.sh --log-omit-timestamp
User=erik

# Not having a Install section makes it so the service cannot be
# enabled and only started from triggers (like timers) or by
# calling start.
#[Install]
#WantedBy=multi-user.target