
[Unit]
Description=Regularly runs operation to backup plex media server

[Timer]
OnCalendar=THU *-*-* 23:00:00
Unit=backup-plex-media-server.service

[Install]
WantedBy=timers.target