
[Unit]
Description=Regularly runs operation to sync media store with object storage

[Timer]
OnCalendar=FRI *-*-* 00:00:00
RandomizedDelaySec=900
Unit=backup-to-object-storage.sh

[Install]
WantedBy=timers.target