
[Unit]
Description=Regularly run service to backup configured applications

[Timer]
OnCalendar=Fri *-*-* 05:05:00
Unit=backup-apps.service

[Install]
WantedBy=timers.target